<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="estagio3.ufpb.com.br.projeto1">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScoreActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ShufflerGameMode"
            android:screenOrientation="landscape" />

        <service
            android:name=".BackgroundSoundService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="true" />

        <activity
            android:name=".AdicionarPalavras"
            android:screenOrientation="landscape" />
        <activity android:name=".CongratulationsMessage"
            android:screenOrientation="landscape"/>
    </application>

</manifest>