<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mydroidtechnology.embaralhado">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".views.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.SelectContextsScoreActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.EditContextModelActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.EditWordModelActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.ContextsDataManagementActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.WordsDataManagementActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.SelectContextsToPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.ScoreModelActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.ShuffledGameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.InsertNewContextActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.InsertNewWordActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.CongratulationsMessageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.PrivacyPolicyActivity"
            android:screenOrientation="landscape" />
        <service
            android:name=".services.BackgroundMusicService"
            android:enabled="true"
            android:exported="true"
            android:permission="true"
            android:stopWithTask="true" />
    </application>

</manifest>