<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="estagio3.ufpb.com.br.embaralhando">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="estagio3.ufpb.com.br.embaralhando.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="estagio3.ufpb.com.br.embaralhando.MainActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="estagio3.ufpb.com.br.embaralhando.ContextsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="estagio3.ufpb.com.br.embaralhando.WordsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="estagio3.ufpb.com.br.embaralhando.SelectContextsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="estagio3.ufpb.com.br.embaralhando.ScoreActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="estagio3.ufpb.com.br.embaralhando.ShuffleGameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="estagio3.ufpb.com.br.embaralhando.InsertNewContextActivity"
            android:screenOrientation="landscape" />
        <service
            android:name="estagio3.ufpb.com.br.embaralhando.BackgroundSoundService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="true" />

        <activity
            android:name="estagio3.ufpb.com.br.embaralhando.InsertNewWordActivity"
            android:screenOrientation="landscape" />
        <activity android:name="estagio3.ufpb.com.br.embaralhando.CongratulationsMessageActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>